/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar .logo img {
    max-height: 50px;
    max-width: 200px;
    margin-right: 25px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar .nav-icons {
    display: flex;
    align-items: center;
    margin:0 20px;
}

.navbar .nav-icons a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin:0 10px;

}

.search-bar {
    flex: 1;
    margin: 0 5px;
    display: flex;
    align-items: center;
    max-width: 500px;
    min-width: 100px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Product Section */
.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
}

.product {
    display: flex;
    flex-wrap: wrap;
}

.product-image {
    flex: 1 1 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}
/* Hover Effects */
.carousel-inner:hover {
    transform: scale(1.1); /* Scale up the image */
    filter: brightness(90%); /* Dim the image slightly */
}


.carousel-item {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease; /* Add transition for smooth effect */
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.product-details-container {
    flex: 0 0 50%; /* 50% width */
    display: flex;
    flex-direction: column;
}

.product-details-main,
.product-details {
    padding: 20px;
    box-sizing: border-box;
}





.product-details-main h1 {
    color: #525151;
}
.product-details-main h2 {
    color: #1a1919;
    font-size: 30px;

}

.product-details-main h4 {
    color: #525151;
    font-size: 15px;
}

.product-details-main .price {
    font-size: 20px;
    color: #333;
    font-weight: 700;
}

.product-details-main .taxes {
    color: #333;
    font-size: 14px;
}



.product-details .description {
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.product-details .material {
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.product-details .size {
    margin-top: 20px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.select {
    margin-bottom: 20px;
    color: #333;
}

.product-details-main .size-btn {
    border-radius: 60%;
    width: 55px;
    height: 50px;
    border: 2px solid rgb(207, 206, 201);
    margin-right: 5px;
    color: #333;
    background-color: #ffffff;
    font-size: 20px;
    padding: 5px 10px;
}

.product-details-main .size-btn.active {
    color: white;
    border-color: #e2b534;
    background-color: #e2b534;
}

.size-btn:hover {
    background-color: #e2b534;
    color: white;
}

.product-details button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 25px;
    margin-right: 10px;
}

#add-to-cart:hover {
    background-color: #a88734;
    color: #333;
}

#buy-now:hover{
    background-color: #a88734;
    color: #333;
}

.cart {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    display: none;
}

.cart h2 {
    margin-top: 0;
    font-size: 20px;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart li:last-child {
    border-bottom: none;
}
